#pierwszy::first-letter{
    font-size: 105pt;
    color: yellow;
}
#pierwszy{
size: 20pt;
color: blue;
}
#drugi::first-letter
{
    color: yellow;
    font-size: 105pt;
}
#drugi{
    size: 24pt;
    color: blue;
}
h1{
 color: rgb(81, 16, 202);
 size: 30pt;
}
h1::first-letter
{
    color: silver;
    font-size: 80pt;
}
#trzeci::first-line{
 color: red;
 font-size: 30pt;
}
#trzeci::first-letter{
    color: red;
    font-size: 80pt;

}
#trzeci
{
    color: blue;
    font-size: 30pt;
}